<html>
  <head>
    <title>Kevin Amilund - Front Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
    <!-- 1. Load libraries -->
     <!-- Polyfill(s) for older browsers -->
    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <!-- 2. Configure SystemJS -->
    <script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
  </head>
  <!-- 3. Display the application -->
  <body>
    <my-app>Loading...</my-app>
  </body>
</html>








<!--<!DOCTYPE html>
<head>
    <title>Kevin Amilund Nilsson - Page</title>
    <link rel="stylesheet" type="text/css" href="../Style.css">
</head>
<body >
    <section class="intro">
        <div class="inner">
            <div class="content">
                <h1>Hi and welcome <br/> my name is Kevin Amilund<br/>and this is my page</h1>
                <a class="btn" href="../AboutMe.html">About me</a>
                <a class="btn" href="../Myfiles.html">CV and personal letter</a>
            </div>
        </div>
    </section>
    <p>My name is Kevin Amilund Nilsson and I'm a programmer for real. Yo</p>
    <script src="JavaScript.js"></script>
</body>
</html> --><!--The div tag for the presentation size-->